name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: |
          cd app
          npm ci
      - name: Lint
        run: |
          cd app
          npm run lint
      - name: Unit tests
        run: |
          cd app
          npm run test:unit --silent
      - name: Build
        run: |
          cd app
          npm run build
